body {
	margin: 0;
	padding: 0;
}

/* Typography */
body, p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: black;
}

h1,h2,h3,h4,h5,h6 { 
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: smaller;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1, h2 {
    color: black;
    background-color: white;
    display: inline-block;
    padding: 3px 6px;
}

h3, h4, h5, h6 { color: white; }

a { color: white; }
a:hover { color: lightgrey; }

/* Buttons */
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding: 0;
}

.button-default {
    background-color: lightgrey;
    margin-bottom: 10px;
    border-radius: 0;
    color: black;
    padding: px 20px;
    cursor: pointer;
    border: none;
    font-size: 14px;

}

.button-default:hover {
    background-color: darkgrey;
}

/* Page sections - size and positioning */

#sidebar {
    position: fixed;
    left: 0;
    width: 20%;
    background-color: rgba(211, 211, 211, 0.3);
    z-index: 1;
}

#map-parent {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;	/* 100% of viewport width */
	height: 100vh;	/* 100% of viewport height */
}
#map { width: 100%; height: 100%; position: absolute; }

#map-sidebar {
    position: absolute;
    right: 0;
    height: 100vh;
    background:darkgrey;
    padding: 15px;
    z-index: 1;
    font-size: 10px;
    max-width: 130px;
}

/* Sidebar Content */
#sidebar>div { padding: 20px; }

.page-title {
    font-size: 20px;
    line-height: 125%;
    border-top: 5px solid black;
}

#info-window .park-image {
    width: 100%;
    height: 100px;
}

#chapters {
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#chapters>.chapter {
    margin-bottom: 50px;
}

#chapters>.chapter>img {
    width: 100%;
}



/* Map Area content */

    #map-sidebar>div { margin-bottom: 30px; }
    #map-sidebar>div:last-child { margin-bottom: 0; }
    #color-changer .swatch {
        border-radius: 100%;
        display: block;
        width: 15px;
        height: 15px;
        margin: 5px 0; 
    }

    .legend-key {
        display: inline-block;
        border-radius:100%;
        width:10px;
        height: 10px;
        margin-right: 5px;
    }

    #layers-control {
        text-align: left;
        z-index: 1;
        
    }

    #layers-control h3 { 
        line-height: initial;
        font-size: unset;
    }

    #layers-control a {
        margin-bottom: 10px;
        font-size: 12px;
        font-weight: 500;
        color: black;
        margin-top:20px;
        padding: 1px;
        text-decoration: none;
        text-align: left;
        background-color: darkgrey;
    }

    #layers-control a.active {
        background-color: white;
    }

    #layers-control a:hover {
        background-color: darkgrey;
    }
    #layers-control a.active:hover {
        background: darkgrey;
    }


/* Modal */
#screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
    display: none;
}

.modal {
    display: none;
    width: 50vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    padding: 30px;
}

.modal>.close-button {
    color: lightgrey;
    position:absolute;
    right: 0;
    top: 0;
    margin: 10px;
    background: none !important;
    border: none !important;
    font-size: 30px;
    cursor: pointer;
}

.modal>.close-button:hover {
    color: lightgrey!important;
}


/* Mapbox popups */
.mapboxgl-popup-content {
    background:rgba(169, 169, 169, 0.6);
    border: 1px solid white;
    border-radius: 0;
    width: 400px;
    overflow: scroll;
}

.mapboxgl-popup-tip {
    border-top-color: darkgrey !important;
}

.mapboxgl-popup-close-button {
    font-size: large;
    font-style: unset;
    color: white;
    padding: 0px 6px;
    font-weight: 300;
}

.mapboxgl-ctrl.mapboxgl-ctrl-attrib { background: none; }




